<hr>

<div style="background-color: grey; margin-top: 20px;">




  <div class="row">

    <div class="col-sm">



      <p style="text-align: center;margin-top: 10px;">© Enero 2020 Unidad Editorial Información Deportiva, S.L.U. Todos los derechos reservados.</p>

    </div>
  </div>



  
  <div class="row">



    <div class="col-sm">

      <a style="color: rgb(0, 0, 0); text-decoration: none; padding-left: 40px;" href="#">Términos y condiciones de uso</a>

    </div>

    <div class="col-sm">

      <a style="color: rgb(0, 0, 0); text-decoration: none;padding-left: 40px;" href="#">Política de privacidad</a>

    </div>

    <div class="col-sm">

      <a style="color: rgb(0, 0, 0); text-decoration: none;padding-left: 40px;" href="#">Política de cookies</a>

    </div>



  </div>

  <div class="row">

    <div class="col-sm"></div>

    <div class="col-sm">

      <a href="#"><img class="float-left" style="width: 40px; margin-bottom: 10px; margin-top: 10px;" src="https://juanignacioluna.github.io/deportes-front/assets/img/fb.png"></a>
      <a href="#"><img class="float-right" style="width: 40px;margin-bottom: 10px;margin-top: 10px;" src="https://juanignacioluna.github.io/deportes-front/assets/img/tw.png"></a>

    </div>

    <div class="col-sm"></div>

  </div> 

</div>
